@inject IJSRuntime JSRuntime
@implements IAsyncDisposable

<div class="chat_window">
    <ul class="messages"></ul>
    <div class="bottom_wrapper d-flex flex-row">
        <div class="message_input_wrapper">
            <input class="message_input" placeholder="Type your message here..." />
        </div>
        <div class="send_message">
            <button type="button" class="btn-success">Send</button>
        </div>
    </div>
</div>
<div class="message_template">
    <li class="message">
        <div class="text_wrapper">
            <div class="text"></div>
        </div>
    </li>
</div>

@code {
    private IJSObjectReference? module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JSRuntime.InvokeAsync<IJSObjectReference>(
             "import", "./Components/Shared/Chat.razor.js");
            await module.InvokeVoidAsync("Start");
        }
    }
    public async ValueTask DisposeAsync()
    {
        if (module != null)
            await module.DisposeAsync();
    }
}
