.lobby-waiting-box {
    min-width: 200px;
    border: 2px solid #A2A0A0;
    padding: 5px;
    margin: 5px;
}

.lobby-waiting-join-text {
    width: 100%;
    height: 48px;
}

.lobby-waiting-join-button-container {
    width: 50%;
    
}

.lobby-waiting-join-button {
    width: 100%;
}
